# Django Core Settings
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration
# format: postgres://USER:PASSWORD@HOST:PORT/DB_NAME
DATABASE_URL=postgres://postgres:password@127.0.0.1:5432/taskmanager_db

# Infrastructure (Redis & Celery)
REDIS_URL=redis://127.0.0.1:6379/0
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0

# Email Service (Resend)
RESEND_API_KEY=your-api-key-here
DEFAULT_FROM_EMAIL=onboarding@resend.dev

# Frontend Integration
# Used for generating login links in onboarding emails
FRONTEND_URL=http://localhost:5173